@charset "utf-8";
/* CouponCode CSS

Style: Default
Last Updated: October 26th, 2010
Author: Weborithm.com

 */

span.couponcode { background: #ffffe8; border: 1px solid #f0e9b2; margin: 0 5px 0 0; padding: 2px 3px 2px 5px; position: relative; }
span.couponcode a { background: url(scissors.png) no-repeat right center; color: #ed3800; padding: 0 20px 0 0; text-decoration: none; }

/* Tooltip */

span.couponcodehover { background: #ffffcc; border: 1px solid #d5c335; color: #ad2900; font-size: 12px; left: 0; line-height: 12px; padding: 5px; position: absolute; text-align: center; top: -28px; width: 148px; border-radius: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }